// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  display: block;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html{
  width: 100%;
  height: 100%;
}

footer{
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid #e8e8e8;
  color: #777777;
}

.login{
  background: url("/images/welcome_bj.png");
  background-size: 100% 100%;
  height: 100%;
  position: relative;
  padding-top: 1.4rem;
  .login-button{
    width: 90%;
    margin: 0 1.5rem;
  }
  .login-panel{
    margin-top: 10rem;
  }
}
a{
  cursor: pointer;
}


