// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

html{
  width: 100%;
  height: 100%;
}
.header{
  margin: 1rem;
}

.login{
  background: url("/images/welcome_bj.png");
  background-size: 100% 100%;
  height: 100%;
  position: relative;
  padding-top: 1.4rem;
  .login-button{
    width: 90%;
    margin: 0 1.5rem;
  }
  .login-panel{
    margin-top: 10rem;
  }
}
a{
  cursor: pointer;
}
.row{
  height: 18%;
  padding: 0.1rem 0;
}

.view-block{
  height: 100%;
  width: 49%;
  background-color: #e8e8e8;
  margin-left: 0.1rem;
}

#search-school-btn{
  text-align: center;
  border: 1px solid #8c8c8c;
  border-radius: 7px;
  float: right;
  height: 20px;
}

.footer{
  position: absolute;
  position: fixed;
  z-index: 1000;
  bottom: 5px;
  left: 2%;
  width: 96%;
}

.checkboxs-lists{
  display: none;
  width: 80%;
  height: 80%;
  z-index: 100000;
  background-color: #2ab27b;
}

.checkbox-item{
  text-align: center;
}

#pm_code_input{
  width: 100%;
  height: 43px;
}

.selected_box{
  width: 100%;
  height: 70%;
  //background-color: #fdf7eb;
  text-align: center;
  display: none;
  .selected_str{
    padding-left: 5%;
    width: 90%;
    padding-top: 15%;
    font-size: 16px;
    word-wrap: break-word;
    color: #ecb03c;
  }
}

.title_label{
  width: 100%;
  text-align: center;
  background-color: #57d897;
  font-size: 18px;
}

.whole_list{
  height: 100%;
  width: 100%;
}

.img_box{
  width: 39%;
  margin-left: 31%;
  margin-top: 8%;
  //display: none;
}

form{
  width: 100%;
  height: 100%;
}

.school-results-note {
  margin-left: 19%;
}










